body {
    margin: 0;
    font-family: verdana;
}

/*
========================
    GLOBAL CSS START   !
========================
*/

.w-75 {
    width: 75%;
    float: left;
}

.w-50 {
    width: 50%;
    float: left;
}

.w-40 {
    width: 40%;
    float: left;
}

.w-25 {
    width: 25%;
    float: left;
}

.w-20 {
    width: 20%;
    float: left;
}

/*
=================================
         GLOBAL CSS END         !
=================================
*/

/*
=================================
    HEADER SECTION CSS START     !
=================================
*/
.header-section {
    background-color: #3b5999;
    padding: 20px 0 5px 0;
    border-bottom: 1.5px solid black;
}

.header-section .header-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header-section .logo-area img {
    width: 100%;
    margin: 0 0 0 25px;
}

.header-section .login-section {
    float: right;
}

.header-section .login-section label {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-family: arial;
    margin-bottom: 5px;
}

.header-section .login-section input[type="text"],
.header-section .login-section input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    outline: none;
    border: 1px solid #000000;
    background-color: #e8f0fd;
}

.header-section .login-section input[type="text"]:focus,
.header-section .login-section input[type="password"]:focus {
    border: 1px solid #84abff;
}

.header-section .login-section .spece {
    padding-right: 15px;
    box-sizing: border-box;
}

.header-section .login-section a {
    display: inline-block;
    text-decoration: none;
    color: #9db4d6;
    margin: 4px 0 0 2px;
}

.header-section .login-section a:hover {
    text-decoration: underline;
}

.header-section .login-section input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
    background-color: #4268b3;
    border: 2px solid #29487e;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;
}

.header-section .login-section input[type="submit"]:hover {
    background-color: #3358a2;
    border: 2px solid #183362;
}

.login-section.w-75 {
    width: 65%;
}

/*
=================================
    HEADER SECTION CSS END       !
=================================
*/

/*
=================================
    CONTENT SECTION CSS START    !
=================================
*/
.content-section {
    background: linear-gradient(#ffffff, #a0b0ca);
    padding: 30px 0 30px 0;
}

.content-section .help-heading {
    margin: 10px;
}

.content-section .help-heading h2 {
    color: #0c1e46;
    font-size: 25px;
    font-family: arial;
    margin: 0;
    margin-left: 35px;
}

.content-container {
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.content-container .connect-people {
    margin-top: 30px;
}

.content-container .connect-people img {
    width: 100%;
    height: 250px;
}

.content-section .main-heading h1 {
    font-family: arial;
    font-size: 40px;
    color: #343434;
    margin: 0;
}

.content-section .main-heading h3 {
    font-family: arial;
    font-size: 20px;
    color: #333;
    margin: 0;
    margin: 10px 0 0 2px;
}

.content-container .form-section {
    overflow: hidden;
    margin-top: 20px;
}

.content-container .form-section .i-spece-one {
    box-sizing: border-box;
    padding-right: 45px;
    margin-bottom: 5px;
}

.content-container .form-section .i-spece-two {
    box-sizing: border-box;
    padding-right: 28px;
    margin-bottom: 5px;
}

.content-container .form-section #first-name,
.content-container .form-section #surname {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #bcc8d8;
    outline: none;
}

.content-container .form-section #first-name:focus,
.content-container .form-section #surname:focus {
    border: 2px solid #89a7d0;
}

::placeholder {
    color: #5b5353;
}

.content-container .form-section #number-or-email,
.content-container .form-section #new-password {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #bcc8d8;
    outline: none;
    box-sizing: border-box;
    margin-top: 5px;
}

.content-container .form-section #number-or-email:focus,
.content-container .form-section #new-password:focus {
    border: 2px solid #89a7d0;
}

.content-container .form-section .bd {
    color: #818793;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}

.content-container .form-section .select-dob {
    margin-top: 8px;
}

.content-container .form-section .select-dob select {
    padding: 4px 7px;
    color: #2d2d2d;
    font-weight: bold;
}

.content-container .form-section .select-dob .dob-qus {
    background-color: #868a95;
    padding: 3px;
    border-radius: 50%;
    width: 16px;
    text-align: center;
    display: inline-block;
    height: 16px;
}

.content-container .form-section .select-dob .dob-qus:hover {
    background-color: #48526f;
}

.content-container .form-section .select-dob .dob-qus a {
    color: #ced5e5;
    text-decoration: none;
}

.content-container .form-section .gender-section .gen-title {
    color: #818793;
    font-weight: bold;
    display: block;
    margin: 15px 0 10px 0;
}

.content-container .form-section .gender-section input[type="radio"] {
    margin-left: 12px;
}

.content-container .form-section .gender-section label {
    color: #484a51;
    font-weight: bold;
    font-family: tahoma;
}

.content-container .form-section .gender-section .gender-qus {
    background-color: #747780;
    padding: 3px;
    border-radius: 50%;
    width: 16px;
    text-align: center;
    display: inline-block;
    height: 16px;
    margin-left: 5px;
}

.content-container .form-section .gender-section .gender-qus a {
    color: #ced5e5;
    text-decoration: none;
}

.content-container .form-section .gender-section .gender-qus:hover {
    background-color: #48526f;
}

.content-container .form-section .policy-section {
    width: 70%;
    font-size: 12px;
    font-weight: bold;
    color: #676767;
    margin-left: 5px;
}

.content-container .form-section .policy-section a {
    text-decoration: none;
    color: #395899;
}

.content-container .form-section .policy-section a:hover {
    text-decoration: underline;
    color: #395899;
}

.content-container .form-section .submit input {
    background-color: #5f9c4c;
    font-size: 18px;
    padding: 5px 50px;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0c1e46;
    margin: 5px 0 10px 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.content-container .form-section .submit input:focus {
    border: 2px solid #3a6e23;
    box-shadow: none;
    outline: none;
}

.content-container .form-section .submit input:hover {
    background: #4d8a39;
}

/*
=================================
    CONTENT SECTION CSS END      !
=================================
*/

/*
=================================
    FOOTER SECTION CSS START     !
=================================
*/
.footer-section {
    background-color: #ffffff;
}

.footer-section .footer-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px 0 0 0;
}

.footer-section .footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-section .language-section {
    font-size: 12px;
    font-family: arial;
    margin-left: 50px;
}

.footer-section .footer-container .language-section li {
    display: inline;
    color: #737373;
    margin-right: 8px;
}

.footer-section .footer-container .language-section li>a {
    color: #8a8d91;
    text-decoration: none;
}

.footer-section .footer-container .language-section .add-more-icon {
    color: #626978;
    width: 25px;
    height: 18px;
    border: 1px solid #ccd0d5;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background-color: #f5f6f7;
}

.footer-section .footer-container .language-section .add-more-icon:focus {
    box-shadow: 0 0 1px 2px rgba(88, 144, 255, 0.75), 0 1px 1px rgba(0, 0, 0, 0.15);
    outline: none;
}

.footer-section .footer-container .language-section .add-more-icon:hover {
    text-decoration: none;
}

.footer-section .footer-container .language-section li>a:hover {
    text-decoration: underline;
}

.footer-section .other-pages-link .line {
    border-top: 1px solid #dddfe2;
    width: 980px;
    margin: 10px 0 5px 0;
}

.footer-section .other-pages-link li {
    display: inline;
    font-size: 12px;
    font-family: arial;
    margin-right: 15px;
}

.footer-section .other-pages-link {
    margin-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.footer-section .other-pages-link li>a {
    text-decoration: none;
    color: #8a8d91;
}

.footer-section .other-pages-link li>a:hover {
    text-decoration: underline;
}

.footer-section .other-pages-link li>a>.ad-icon {
    width: 14px;
    box-sizing: border-box;
    padding-left: 3px;
    display: inline-block;
}

.footer-section .other-pages-link li>a>.ad-icon img {
    width: 100%;
}

.footer-section .copywrite {
    font-size: 11px;
    color: #737373;
    margin: 0;
    margin-left: 50px;
    font-family: arial;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
=================================
    FOOTER SECTION CSS END       !
=================================
*/

/*
****************************************
    THIS SECTION FOR RESPONSIVENESS       *
****************************************
*/

/*
=================================
    THIS CSS FOR TABLET          !
=================================
*/

/*HEADER PART START*/
@media only screen and (max-width: 768px) {
    .header-section .logo-area img {
        margin: 13px 0 0 0px;
    }

    .header-section .login-section .spece {
        padding-right: 10px;
    }

    .content-section .help-heading h2 {
        font-size: 23px;
        margin: 0;
    }

    .header-section .login-section input[type="submit"] {
        margin-top: 12px;
        font-size: 14px;
        padding: 5px;
    }

    .header-section .login-section label {
        font-size: 14px;
    }

    .header-section .login-section input[type="text"],
    .header-section .login-section input[type="password"] {
        padding: 6px;
    }

    .header-section .login-section a {
        font-size: 12px;
    }

    /*HEADER PART END*/

    /*CONTENT PART START*/
    .content-section .help-heading {
        margin: 0;
    }

    .content-container .connect-people img {
        height: 180px;
    }

    .content-section .main-heading h1 {
        font-size: 33px;
    }

    .content-section .main-heading h3 {
        font-size: 18px;
    }

    .content-container .form-section #first-name,
    .content-container .form-section #surname {
        padding: 8px;
        font-size: 17px;
        border-radius: 6px;
    }

    .content-container .form-section #number-or-email,
    .content-container .form-section #new-password {
        padding: 8px;
        font-size: 17px;
        border-radius: 6px;
    }

    .content-container .form-section .select-dob select {
        padding: 3px 1px;
    }

    .content-container .form-section .gender-section input[type="radio"] {
        margin-left: 0px;
    }

    .content-container .form-section .policy-section {
        width: 80%;
        font-size: 10px;
    }

    .content-container .form-section .submit input {
        font-size: 15px;
        padding: 6px 35px;
        box-shadow: 1px 2px 3px 1px #3a6e23;
        margin: 2px 0 10px 5px;
        border-radius: 5px;
    }

    /*CONTENT PART END*/
}

/*
=================================
    TABLET CSS IS END HERE       !
=================================
*/

/*
=================================
    MOBILE CSS IS STAR HERE      !
=================================
*/

/*HEADER PART START*/
@media only screen and (max-width: 425px) {
    .header-section {
        padding: 0 0 12px 0;
    }

    .header-section .w-25 {
        width: 100%;
        float: none;
    }

    .header-section .w-25 .logo-area img {
        margin: 8px 0 0 90px;
        width: 50%;
    }

    .header-section .w-75 {
        width: 100%;
        float: none;
    }

    .header-section .w-75 .login-section .w-40 {
        width: 100%;
        float: none;
    }

    .header-section .w-75 .login-section .w-20 {
        width: 100%;
        float: none;
    }

    .header-section .login-section label {
        font-size: 13px;
    }

    .header-section .login-section input[type="text"],
    .header-section .login-section input[type="password"] {
        padding: 5px;
    }

    .header-section .login-section input[type="submit"] {
        font-size: 14px;
        padding: 6px 0;
        box-sizing: content-box;
    }

    /*HEADER PART END*/

    /*CONTENT PART START*/
    .content-section {
        background: linear-gradient(#ffffff, #a0b0ca);
        padding: 15px 0 15px 0;
    }

    .content-section .w-50 {
        width: 100%;
        float: none;
    }

    .content-section .help-heading h2 {
        font-size: 18px;
    }

    .content-container .connect-people {
        margin-top: 10px;
    }

    .content-container .connect-people img {
        width: 85%;
        height: 170px;
        margin-left: 10%;
    }

    .content-section .main-heading h1 {
        font-size: 25px;
    }

    .content-section .main-heading h3 {
        font-size: 16px;
    }

    .content-container .form-section {
        margin-top: 8px;
    }

    .content-container .form-section .i-spece-one {
        padding-right: 17px;
        margin-bottom: 3px;
    }

    .content-container .form-section .i-spece-two {
        padding-right: 17px;
        margin-bottom: 3px;
    }

    .content-container .form-section #first-name,
    .content-container .form-section #surname {
        padding: 6px;
        font-size: 16px;
        border-radius: 5px;
    }

    .content-container .form-section #number-or-email,
    .content-container .form-section #new-password {
        padding: 6px;
        font-size: 16px;
        border-radius: 5px;
    }

    .content-container .form-section #number-or-email,
    .content-container .form-section #new-password {
        margin-top: 3px;
    }

    .content-container .form-section .bd {
        margin: 10px 0 5px 0;
        font-size: 14px;
    }

    .content-container .form-section .select-dob {
        margin-top: 3px;
    }

    .content-container .form-section .select-dob select {
        padding: 2px 0px;
        font-weight: normal;
        border: 1px solid #bcc7d9;
    }

    .content-container .form-section .select-dob .dob-qus {
        padding: 1px;
        width: 16px;
        height: 17px;
    }

    .content-container .form-section .gender-section .gen-title {
        margin: 14px 0 5px 0;
        font-size: 14px;
    }

    .content-container .form-section .gender-section label {
        font-family: tahoma;
        font-size: 14px;
    }

    .content-container .form-section .gender-section .gender-qus {
        padding: 1px;
        width: 19px;
        height: 17px;
        margin: 0;
    }

    .content-container .form-section .policy-section {
        width: 86%;
    }

    .content-container .form-section .submit input {
        font-size: 14px;
        padding: 5px 24px;
        margin: 2px 0 5px 6px;
        border: 1px solid #059e05;
    }

    /*CONTENT PART END*/

    /*FOOTER PART START*/
    .footer-section .language-section {
        margin-left: 9px;
    }

    .footer-section .other-pages-link {
        margin-left: 9px;
        padding: 0;
    }

    .footer-section .copywrite {
        margin: 15px 0 15px 9px;
    }

    /*FOOTER PART END*/
}

.signUp {
    position: absolute;
    left: 51%;
    top: 82%;
    width: 37%;
    outline: none;
    border: none;
    background: #3358a2;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
}