body{
    background-size: 100%;
    background-image: url("BackGroundLogin.jfif");
}

.loginForm {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    color: #384047;
    background: linear-gradient(to right, rgb(41, 230, 41), #4bc970);
}